* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.right-background {
  position: fixed;
  height: 100vh;
  width: 50vw;
  right: 0;
  z-index: -5;
  background-color: #2d3439;
}

.left-background {
  position: fixed;
  height: 100vh;
  width: 50vw;
  left: 0;
  z-index: -5;
  background-color: #242a2e;
}
